/*
.########..#######..##....##.########..######.
.##.......##.....##.###...##....##....##....##
.##.......##.....##.####..##....##....##......
.######...##.....##.##.##.##....##.....######.
.##.......##.....##.##..####....##..........##
.##.......##.....##.##...###....##....##....##
.##........#######..##....##....##.....######.
*/
@font-face {
  font-family: 'TeXGyreTermes';
  font-style: normal;
  font-weight: 400;
  src: local('TeXGyreTermes'), url('./fonts/texgyretermes-regular.woff') format('woff');
}
@font-face {
  font-family: 'TeXGyreTermes';
  font-style: italic;
  font-weight: 400;
  src: local('TeXGyreTermes'), url('./fonts/texgyretermes-italic.woff') format('woff');
}
@font-face {
  font-family: 'TeXGyreTermes';
  font-style: normal;
  font-weight: 700;
  src: local('TeXGyreTermes'), url('./fonts/texgyretermes-bold.woff') format('woff');
}
@font-face {
  font-family: 'TeXGyreTermes';
  font-style: italic;
  font-weight: 700;
  src: local('TeXGyreTermes'), url('./fonts/texgyretermes-bolditalic.woff') format('woff');
}


/*
.########.####..######...##.....##.########..########....##..
.##........##..##....##..##.....##.##.....##.##........####..
.##........##..##........##.....##.##.....##.##..........##..
.######....##..##...####.##.....##.########..######......##..
.##........##..##....##..##.....##.##...##...##..........##..
.##........##..##....##..##.....##.##....##..##..........##..
.##.......####..######....#######..##.....##.########..######
*/
.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-top: 1em;
  /* margin-top: 2em; */
}

.wrapper_1_1, .wrapper_2_1, .wrapper_4_3, .wrapper_3_2 {
  width: calc(100vw - 20px);
}

@media (min-aspect-ratio: 1/1) {
  .wrapper_2_1 {
    width: calc((100vh - 20px)/0.5);
  }
  .wrapper_3_2 {
    width: calc((100vh - 20px)/0.667);
  }
  .wrapper_4_3 {
    width: calc((100vh - 20px)/0.75);
  }
  .wrapper_1_1 {
    width: calc((100vh - 20px));
  }
}

.container {
  width: 100%;
  background-color: white;
}

.container_2_1 {
  padding-bottom: 50%;
}

.container_3_2 {
  padding-bottom: 66.67%;
}

.container_4_3 {
  padding-bottom: 75%;
}

.container_1_1 {
  padding-bottom: 100%;
}

/*
..######..####.########.########
.##....##..##.....##....##......
.##........##.....##....##......
..######...##.....##....######..
.......##..##.....##....##......
.##....##..##.....##....##......
..######..####....##....########
*/
body {
  background: white;
  margin-left: auto;
  margin-right: auto;
  font-family: Open Sans, sans-serif;
  font-weight: 100;
  margin-top: 0;
  font-size: 20px;
}

a {
  text-decoration: none;
}

a:visited {
  color: blue;
}

li {
  padding-bottom: 0.4em;
}

.title-text {
  text-align: center;
  font-weight: 100;
  padding-top: 0.5em;
  margin-top: 0;
  font-size: 3em;
  margin-bottom: 0;
  color: #333;
}


.sub-title-text {
  text-align: center;
  padding-top: 0.5em;
  font-size: 1.2em;
  font-weight: 100;
  color: #333;
}

@media (max-width: 1200px) {
  .title-text {
    font-size: 2em;
  }
  .sub-title-text {
    font-size: 0.9em;
  }
}

h1 {
  padding-top: 20px;
  font-weight: 100;
  text-align: center;
  /* font-size: 3em; */
}
h2 {
  padding-top: 2em;
}
h3 {
  padding-top: 2em;
  font-size: 1.4em;
  font-weight: 100;
}

.toggle {
  display: none;
}
@media (min-aspect-ratio: 21/10) {
  .toggle {
    display: block;
    position: absolute;
    right: -1.5em;
    bottom: 50%;
  }
}
.wrapper {
  position: relative;
}

#figureOneVideoControls {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100vw - 20px);
}

.in-frame {
  transform: translate(0, -4em);
  background-color: #fffb;
}

.instructions {
  font-size: 1em;
  color: #444;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 2em;
}

@media (min-width: 1200px) {
  .instructions {
    font-size: 1.5em;
  }
}

.links {
  text-align: center;
  padding-bottom: 2em;
  margin-top: 30px;
}

@media (max-width: 600px) {
  .title-link {
    display: block;
  }
}

.link {
  color: blue;
}

.footer {
  margin-top: 2em;
  padding: 20px;
  text-align: center;
  color: #333;
  background-color: #efefef;
  font-size: 1em;
}

@media (min-width: 1200px) {
  .footer {
    font-size: 1.2em;
  }
}

.header-bar {
  background-color: #efefef;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 20px;
}

.footer-bar {
  border-top: 1px solid lightgrey;
  background-color: #efefef;
  padding-left: 20px;
  padding-right: 20px;
}
